<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: 'form-control', placholder: 'Post title' %>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, class: 'form-control', rows: 5, placholder: 'Post title' %>
  </div>

  <div class="form-check">
    <%= form.radio_button :published, true, class: 'form-check-input' %>
    <label class="form-check-label" for="flexCheckDefault">
      Published
    </label>
  </div>
  <div class="form-check">
    <%= form.radio_button :published, false, class: 'form-check-input' %>
    <label class="form-check-label" for="flexCheckChecked">
      Draft
    </label>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
